:host {
	margin: 0;
	padding: 0;
	height: calc(100% - 94px); // minus header
}

.component-container {
	height: calc(100% - 60px); // minus header
	display: flex;
	justify-content: center;
	align-items: stretch;
	align-content: center;
}

// :host vaadin-split-layout {
// 	height: 70vh;
// }

// :host .main-selection-list-section {
// 	width: 10rem;
// }



