<div style="margin: 2rem; display: flex; justify-content: flex-start; align-items: flex-start">

	<vaadin-item class="card-no-padding shadow-m" style="min-width:18rem; max-width:18rem;">
		<div class="space-m" style="padding-bottom: .5rem">
			Amazon Stock
			<span theme="badge contrast pill small" class="" *ngIf="stockInfoIsAvailable">12 Shares</span>     
			<hr>



			<div style="position: relative" *ngIf="stockInfoIsAvailable">

				<div *ngIf="loadingStocks" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; background: rgba(255,255,255,.7)">
					<div style="display: flex; align-items: center; justify-content: center; height: 100%;">
						<paper-spinner active class="thin"></paper-spinner>
					</div>
				</div>

				<h2 style="margin: 0; color: #15c15d">${{netGainsString}}</h2>
				
				<small *ngIf="isMarketOpen()" class="secondary-text">Current Price: ${{ endStockValString }}</small>
				<small *ngIf="!isMarketOpen()" class="secondary-text">Close Price: ${{ endStockValString }}</small>

				<hr>

				<div class="space-m">
					<!--
					<ul>
						<li *ngFor="let item of historicalStockData; let i = index">
							{{item.data['4. close']}}
						</li>
					</ul>
					-->
					<small>
						Today
						<span [attr.theme]="pointIncreaseBoolean ? 'badge pill small success' : 'badge pill small error'" style="margin-left: .5rem">+{{ this.formatNumberToCurrencyString( this.pointVarianceToday ) }}</span>
						<span style="margin-left: .5rem; margin-right: .5rem"></span>=>
						<span [attr.theme]="pointIncreaseBoolean ? 'badge pill small success' : 'badge pill small error'">${{ this.formatNumberToCurrencyString( this.pointVarianceTodayString * 12 ) }}</span>
					</small>
				</div>

				<div class="space-m">
					<ul *ngIf="historicalStockData[0].data != undefined">
						<li *ngFor="let item of historicalStockData; let i = index">
							<small *ngIf="i < 5">
								Today
								<span [attr.theme]="pointIncreaseBoolean ? 'badge pill small success' : 'badge pill small error'" style="margin-left: .5rem">+{{ historicalStockData[i].data['4. close'] }}</span>
								<span style="margin-left: .5rem; margin-right: .5rem"></span>=>
								<span [attr.theme]="pointIncreaseBoolean ? 'badge pill small success' : 'badge pill small error'">${{ this.formatNumberToCurrencyString( ((historicalStockData[i].data['4. close'] - historicalStockData[ (i+1) ].data['4. close'] ) * 12)) }}</span>
							</small>
						</li>
					</ul>
				</div>

			</div>
			


			<div *ngIf="!stockInfoIsAvailable">
				<h4>Stock Info Unavailable</h4>
			</div>

		</div>

		<div class="contrast-5pct space-xs">
			<p *ngIf="isMarketOpen()" style="font-size: .6375rem; padding-top: .12rem; line-height: 0; vertical-align: middle" class="secondary-text">Last Sync: {{lastReload}}</p>
			<p *ngIf="!isMarketOpen()" style="font-size: .6375rem; padding-top: .12rem; line-height: 0; vertical-align: middle" class="secondary-text">Market Closed</p>
		</div>
	</vaadin-item>
	
	<vaadin-item class="card-no-padding shadow-m" style="min-width:18rem; max-width:18rem;">
		<div class="space-m">
			'79 Ford F100        
			<hr>
			<h2 style="margin: 0; color: #15c15d">${{ this.formatNumberToCommaString( 5000 - 1825.61 ) }}</h2>
			<small class="secondary-text">Invested: ${{ this.formatNumberToCommaString( 1825.61 ) }}</small>
		</div>
	</vaadin-item>

	<vaadin-item class="card-no-padding shadow-m" style="min-width:18rem; max-width:18rem;">
		<div class="space-m">
			2006 Travel Trailer        
			<hr>
			<h2 style="margin: 0; color: #15c15d">${{ this.formatNumberToCommaString( 6000 ) }}</h2>
			<small class="secondary-text">Asset</small>
		</div>
	</vaadin-item>

</div>